#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Have the container to store the score/buttons and the trivia cards be the same size */
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    margin: 40px;
}
