.right, .wrong, .previous, .next {
    /* margin-top: 2em; */
    color: #283618;
    border-color: #283618;
    padding: 10px;
    margin: 15px;
} /*make all the buttons the same padding and with the same font color*/

/*when hovering over different buttons, different colors are shown*/
.right:hover {
    background-color: #a1cf0b;
}
.wrong:hover {
    background-color: #cf590b;
}
.previous:hover, .next:hover {
    background-color: #0ba8cf;
}

button {
    box-shadow: 5px 5px 5px gray;
}
/* when a button is clicked, it looks like it's being pressed */
button:active {
    box-shadow: 5px 5px #666;
    transform: translateY(4px);
}

.score {
    color: #283618;
}
