.div {
    text-align: center; 
    background-color: green;
    padding: 2em;
    width: 75%; /*figure out how to make the header and the body the same width. Will probably give them the same class
    name for information like widt and */
    height: 400px;
    margin: auto;
    border-radius: 0px 0px 25px 25px;
  }


.title {
    color: black;
    font-size: 2em;
  }
  